%h1 StaticMatic!
%p
  %strong Featuring Compass and Fancy-Buttons
%button Woo Hoo!


#container
  
  .row-3
    .field-1.field
      %label
        Address
      = text_field('first_name', 'first name')

    .field-2.field
      %label
        Address 2
      = text_field('first_name', 'first name')

  .row-5    
    .field-2.field
      %label
        City
      = text_field('first_name', 'first name')

    .field-2.field
      %label
        State
      = text_field('first_name', 'first name')

    .field-1.field
      %label
        Zip Code
      = text_field('first_name', 'first name')




