
#container
  
  %h2 
    Row 3 / 2
  
  
  
  .row-3.row
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-2.field
      %label  
        Address 1
      = text_field('first_name', 'bob')      



  .row-4.row
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')    
      
    .field-2.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')



  .row-4.row

    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')




  .row-4.row
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-3.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
    
    
  .row-5.row  
      
    .field-2.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-2.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')


