
#container
  
  %h2 
    Less Form Grids
  
  
  
  .row-3
      
    .field-1
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-2
      %label  
        Address 1
      = text_field('first_name', 'bob')      



  .row-4
      
    .field-1
      %label  
        Address 1
      = text_field('first_name', 'bob')    
      
    .field-2
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-1
      %label  
        Address 1
      = text_field('first_name', 'bob')



  .row-4

    .field-1
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-1
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-1
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-1
      %label  
        Address 1
      = text_field('first_name', 'bob')




  .row-4
      
    .field-1
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-3
      %label  
        Address 1
      = text_field('first_name', 'bob')
    
    
    
    
  .row-5  
      
    .field-2
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-2
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-1
      %label  
        Address 1
      = text_field('first_name', 'bob')


