
#container
  
  .row-3
    %h2 
      Row 3 / 2
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-2.field
      %label  
        Address 1
      = text_field('first_name', 'bob')      

  .row-4
    %h2 
      Row 4 / 3
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')    
      
    .field-2.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')

  .row-4
    %h2 
      Row 4 / 4
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')

  .row-4
    %h2 
      Row 4 / 2
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-3.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
    
  .row-5    
    %h2 
      Row 5 / 3
      
    .field-2.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-2.field
      %label  
        Address 1
      = text_field('first_name', 'bob')
      
    .field-1.field
      %label  
        Address 1
      = text_field('first_name', 'bob')


