
#container
  %h1
    Example Registration Form
  
  %h2
    Personal Information
  
  .row-3
      
    .field-1
      %label.req
        First Name
      = text_field('', '')  

    .field-1
      %label.req  
        Last Name
      = text_field('', '')



  .row-2
      
    .field-1
      %label.req  
        Address
      = text_field('', '')    
      
    .field-1
      %label.req  
        Address 2
        %span
          hints can go here too!
      = text_field('', '')
      .hint
        Suite number and other shit
      
      
  .row-4   
      
    .field-2
      %label.req  
        City
      = text_field('', '')
      .hint
        this is the city you live in
      
    .field-1
      %label.req  
        State
      %select
        %option 
          Alabama
        %option 
          Alaska

    .field-1
      %label.req  
        Zip Code
      = text_field('', '')

  %h2
    Optional Fields

  .row-4


    .field-2
      %label  
        Referrer
      %select
        %option 
          Google
        %option 
          Yo Momma
      
    .field-1
      %label  
        Gender
      .radio
        %input{:type => "radio"} 
        Male
      .radio
        %input{:type => "radio"} 
        Female
      
    .field-1
      %label  
        Are you alive?
      .checkbox
        %input{:type => "checkbox"} 
        Yes


  .row-4


    .field-2
      %label  
        What type of animal would you be?
      .radio
        %input{:type => "radio"} 
        Tiger
      .radio
        %input{:type => "radio"} 
        Lion
      .radio
        %input{:type => "radio"} 
        Ape 
      .radio
        %input{:type => "radio"} 
        Bird  
      .radio
        %input{:type => "radio"} 
        Unicorn
      .radio
        %input{:type => "radio"} 
        Fish


    .field-2
      %label  
        What type of animal would you be?
      .radio.inline_radio
        %input{:type => "radio"} 
        Tiger
      .radio.inline_radio
        %input{:type => "radio"} 
        Lion
      .radio.inline_radio
        %input{:type => "radio"} 
        Ape 
      .radio.inline_radio
        %input{:type => "radio"} 
        Bird  
      .radio.inline_radio
        %input{:type => "radio"} 
        Unicorn
      .radio.inline_radio
        %input{:type => "radio"} 
        Fish



  



  .row-4
      
    .field-2
      %label  
        Favorite Person 1
      = text_field('', 'Allan Branch @LessAllan')
      
    .field-1
      %label  
        Favorite Person 2
      = text_field('', '')

    .field-1
      %label  
        Favorite Person 3
      = text_field('', '')

    
    
    
  .row-1
      
    .field-1
      %label  
        Other Comments
      = text_area 'myname', 'myvalue'
      


